@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "EditUser";
}
<div class="container">

    <h1>EditUser</h1>

    <form asp-controller="UserManager" asp-action="EditUser" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label class="control-label" asp-for="UserName"></label>
            <input class="form-control" asp-for="UserName" />
        </div> 
        <div class="form-group">
            <label class="control-label" >Password</label>
            <input class="form-control" name="password" />
        </div>

        <input type="hidden" asp-for="Id" />

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>