
<div class="container" style="direction:rtl;text-align:justify">

    <div class="row ">
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-12 col-12">
                <h2>گروه <span style="color: #FFD333">محصول </span></h2>
                <hr />
                <div class="form-group ">
                    <label>اسم گروه</label>
                    <input type="text" name="NameGroup" class="form-control" required>

                </div>
                <input type="submit" value="ذخیره اطلاعات" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>