<div>
    <h2 style="text-align: center; margin: 100px; font-size: xxx-large !important">Wellcom To <span style="color: #FFD333">Admin</span> Panel</h2>
</div>
<div style="text-align:center;margin-bottom:250px">
    <a class="btn btn-primary" asp-controller="UserManager" asp-action="Index">User Manager</a>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="ShopIndex">Shop Manager</a>
</div>